@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-white: hsl(0, 0%, 100%);
    --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
    --bg-lavender-blush: hsl(0, 100%, 98%);
    --bg-majorelle-blue: hsl(249, 95%, 63%);
    --bg-ocean-blue: hsl(249, 63%, 54%);
    --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
    --bg-misty-rose: hsl(0, 100%, 95%);
    --bg-red-salsa: hsl(357, 94%, 63%);
    --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
    --bg-english-vermillion: hsl(357, 64%, 53%);
    --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
    --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
    --bg-gainsboro: hsl(0, 0%, 85%);
  
    --text-white: hsl(0, 0%, 100%);
    --text-gunmetal: hsl(209, 40%, 14%);
    --text-light-coral: hsl(357, 96%, 73%);
    --text-granite-gray: hsl(210, 4%, 38%);
    --text-majorelle-blue: hsl(249, 95%, 63%);
    --text-sunglow: hsl(48, 100%, 50%);
  
    --section-padding:5rem 1rem;


    --fs-1: 4.2rem;
    --fs-2: 3.6rem;
    --fs-3: 2.5rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.6rem;
    --fs-7: 1.5rem;
}

*{
    padding: 0;
    margin: 0;
    
}

html{
    scroll-behavior: smooth;
    
}

body{
    background-color: var(--bg-lavender-blush);
    font-family: "Montserrat";
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit;
}


li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

button{
    cursor:pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section{
    padding: var(--section-padding);
}

.card{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    background-clip: border-box;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;
}


/* ======================
   ANIMATIONS
   ====================== */

@keyframes CardTwist{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


header{
    position: relative;
    max-width: 1200px;
    padding:  0 15px;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-items{
    display: flex;
    gap: 1.5rem;
}

.nav-links{
    transition: all 0.3s ease;
}

.nav-links:hover{ 
    color: var(--text-majorelle-blue)

}

.nav-links a{
    font-weight: 600;
}

.nav-btns{
    display: flex;
    gap: 1rem;
}

.nav-btns button{
  background-color: var(--bg-ocean-blue);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.burger-btn{
    display: none;
    background-color: var(--bg-lavender-blush);
}

/* Nav-ends*/


.hero{
    padding: 3rem 1rem !important;
}

.hero-content{
    display: flex;
    align-items: center;
  
}
.hero-content img{
    max-width: 600px;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.hero-info > span{
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: var(--bg-misty-rose);
    color: var(--bg-red-salsa);
    padding:0.5rem 2rem;
    width: max-content;
   border-radius: 40px;
}

.hero-info h1{
    font-size: 3rem;

}

.hero-info p{
    color: var(--text-granite-gray);
    font-size: 1.2rem;
}


.hero-btns{
    display: flex;
   align-items: center;
    gap: 1rem;
}

.plan-btn{
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border-radius: 30px;
    width: auto;
    color: white;
    background-color: var(--bg-red-salsa);
    transition: all 0.3s ease;
}

.plan-btn:hover{
    background-color: var(--bg-english-vermillion);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.story-btn-container span img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  

}


.story-btn-span {
    display: flex;
    align-items: center;
}

.story-btn-icon-container{
    background-color: white;
    padding: 3px 9px;
    border-radius: 50%;
    text-align: center;
}   


.story-btn{
    background-color: var(--bg-misty-rose);
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}



/*Services*/

.services > .container > h3{
    color: var(--text-majorelle-blue);
    margin-bottom: 2rem;
    
    
  }


.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    
}
.services-card {

   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
   border-radius: 15px;
   transition: all 0.3s ease;
 

}


.services-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services-content .services-card:nth-child(2){
    
    background-color: var(--bg-misty-rose)
}

.services-content .services-card:nth-child(3){
    background-color: var(--bg-majorelle-blue-alpha-5);

}

.services-content .services-card:nth-child(4){
    background-color: var(--bg-sunglow-alpha-10)
}



.services-card h1{
    font-size: 2.5rem;
}

.services-card img{
    width: 50px ;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.services-card:hover img{
    transform: scale(1.1);
}

/*destinations*/

.destination > h3{
    text-align: center;
    color: var(--text-majorelle-blue);
    margin-bottom: 1rem;
}

.destination > h1{
    font-size: 3rem;
    text-align: center;
    color: var(--text-gunmetal);
     margin-bottom: 1rem;
}

.destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}


.destination-card{
    border-radius: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation:  CardTwist 0.6s ease forwards;
}


.destination-card:nth-child(1) { animation-delay: 0.3s; }
.destination-card:nth-child(2) { animation-delay: 0.4s; }
.destination-card:nth-child(3) { animation-delay: 0.5s; }
.destination-card:nth-child(4) { animation-delay: 0.6s; }
.destination-card:nth-child(5) { animation-delay: 0.7s; }
.destination-card:nth-child(6) { animation-delay: 0.8s; }

.destination-img-container{
    position: relative;
    overflow: hidden;
    width: 100%;

}


.destination-card img{
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  
 }
 .destination-img-container span{
    position: absolute;
    color: white;
    top: 15px;
    right: 15px;
    padding: 0.3rem 0.9rem;
    border-radius: 20px;
    z-index: 1;
    font-size: 1rem;
    background-color: var(--bg-white);
    color: black;
    font-weight: bold;
   
 }

.destination-card-price{
    display: flex;
    justify-content: space-between;
}

.destination-card-price span:first-child{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.destination-card-price span:first-child i{
    color: var(--text-sunglow);
}


/* Destination Ends*/

/*Experiences*/
.experience-content{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.experience-img-container{
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    height: auto;
}

.experience-img-container .experience-svg{
    width: 120px;
    height: auto;
    object-fit: contain;
    transform: translate(50%,10%);
}


.experince-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
}

.experince-text > p:first-child{
    color: var(--text-majorelle-blue);
    font-weight: 600;
    font-size: 1.2rem;
}

.experince-text  h1{
    font-size: 3rem;
}

.experince-text >p:nth-last-child(2){
    
    font-weight: 500;
  
}

.experience-info{
    display: flex;
    gap: 20px;
}

.experience-info span {
    padding: 0.5rem;
}
.experience-info span p{
    color: var(--text-majorelle-blue);
    font-size:2.5rem;
    font-weight: bold;
}

@media (max-width: 575.98px) { 
    
 }


@media (max-width: 767.98px) { 
   .nav-items{
       position: fixed;
       visibility: hidden;
       opacity: 0;
        text-align: center;
        width: 100%;
        left: 0;
        top: 100px;
        padding: 1rem;
        transform: translateY(-100%);
        flex-direction: column;
        background-color: var(--bg-lavender-blush);
        transition: transform 0.3s ease;
        z-index: 1000;
    
    }

    .nav-items.active{
    
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: transform 0.3s ease;
        
    }


    .nav-links{
        display: block;
        padding: 10px 0;
        width: 100%;
        margin: 5px 0;

    }
    .nav-links:hover{
        background-color: var(--bg-majorelle-blue);
        color: white;
        width: 100%;
    }

    .nav-btns{
        display: none;
    }

    .burger-btn{
        display: block;
        font-size: 2rem;
        color: black;   
      
        
    }
    
 }


@media (max-width: 991.98px) { }
@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) {  }
